<mat-toolbar color="primary">
  <mat-toolbar-row class="container">
    <mat-icon class="example-icon">home</mat-icon>
    <span>InstApx</span>
    <span (click)="links.emit('gps')"> My Location </span>
    <mat-icon  (click)="links.emit('gps')" class="example-icon">gps_fixed</mat-icon>
    <span class="example-spacer"></span>
    <form [formGroup]="search" class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search" formControlName="search">
        <mat-icon matSuffix class="example-icon">search</mat-icon>
      </mat-form-field>
    </form>
    <span class="example-spacer"></span>
    <svg *ngIf="!img"  (click)="links.emit('facebook-login')" class="example-icon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="white" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
  </svg>
  <img *ngIf="img" [src]="img" alt="" srcset="">
    <mat-icon  (click)="links.emit('github')" class="example-icon">code</mat-icon> <span (click)="links.emit('github')"> GitHub </span>
  </mat-toolbar-row>
</mat-toolbar>
